@model IBTFull.Models.Language
@{ 
    var pageName = ViewContext.RouteData.Values["action"].ToString();
    var id = ViewContext.RouteData.Values["id"];

    if(id != null)
    {
        pageName = String.Format("{0}/{1}", pageName, id);
    }
}

<div class="lng">

    @foreach (var language in Consts.SUPPORTED_CULTURES)
    {
        if (Model.CurrentLanguage == language)
        {
            <div class="lng__item lng__item--active">
                <img src="@String.Format("/images/{0}.png", language)" />
            </div>
        }
        else
        {
            if (pageName == "Index")
            {
                <a class="lng__item" href="@String.Format("/{0}", @language)">
                    <img src="@String.Format("/images/{0}.png", language)" />
                </a>
            }
            else
            {
                <a class="lng__item" href="@String.Format("/{0}/{1}", @language, pageName)">
                    <img src="@String.Format("/images/{0}.png", language)" />
                </a>
            }
        }
    }

</div>
