@using System.Threading
@using IBTFull.Models

@{
    var requestCulture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "/" : Context.Request.Path;
    var pageName = ViewContext.RouteData.Values["action"].ToString();


    string req = Request.Url.GetLeftPart(UriPartial.Authority);
}

<!DOCTYPE html>
<html lang="@requestCulture">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125861840-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-125861840-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="@ViewData["keywords"]">
    <meta name="description" content="@Html.Raw(ViewData["desc"])">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="/css/vendors/vendors.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @foreach (var language in Consts.SUPPORTED_CULTURES.Where(q => !q.Equals(requestCulture)))
    {
        if (pageName == "Index")
        {
            <link rel="alternate" href="@String.Format("{0}/{1}", req, language)" hreflang="@language" />
        }
        else
        {
            <link rel="alternate" href="@String.Format("{0}/{1}/{2}", req, language, pageName)" hreflang="@language" />
        }
    }
    <style>
        .lng__item img {
            width: 30px;
        }

        .loaded * {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
        }

        .loaded .page {
            height: 100vh;
            opacity: 0;
        }

        .loaded {
            overflow: hidden;
            background: #ffffff url("/images/loader.svg") no-repeat center center;
        }

            .loaded .sidebar {
                display: none;
            }

        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }

        button:focus {
            outline: none;
        }

        .logo-anchor {
            border-bottom: none;
        }

        .social-links {
            margin: 20px auto;
        }

            .social-links li {
                display: inline-block;
                padding-left: 10px;
                border-bottom: none;
            }

            .social-links a {
                border-bottom: none;
            }
    </style>
</head>
<body class="loaded">
    <div class="page page--main">
        <!-- begin .page-header-->
        <header class="page-header">
            <div class="page-header__inner">
                <div class="container">
                    <div class="logo">
                        <a class="logo-anchor" href="/@requestCulture">
                            <img src="/images/logo.svg" alt="IBT logo">
                        </a>
                    </div>
                    <nav class="main-menu js-main-menu">
                        <a class="main-menu__item" href="/@requestCulture/engineering">@SharedResource.ForDesigners</a>
                        <a class="main-menu__item" href="/@requestCulture/advantages">@SharedResource.Advantages</a>
                        <a class="main-menu__item" href="/@requestCulture/faq">@SharedResource.Faq</a>
                        <a class="main-menu__item" href="/@requestCulture/contacts">@SharedResource.Contacts</a>
                        @Html.Partial("_Languages", new Language(Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName))
                    </nav>
                    @Html.Partial("_Languages", new Language(Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName))
                    <button class="menu-btn hamburger js-main-menu-btn"><span></span><span></span><span></span><span></span></button>
                </div>
            </div>
        </header>
        <!-- end .page-header-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- begin .page-footer-->
        <footer class="page-footer">
            <div class="page-footer__inner">
                <div class="page-footer__row">
                    <div class="page-footer__col">
                        <div class="logo"><img src="/images/logo-white.svg" alt="IBT logo"></div>
                        <div class="copy">© DОО «Industrial Bio Technology», @DateTime.Now.Year</div>
                    </div>
                    <div class="page-footer__col">
                        <ul class="secondary-menu">
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/@requestCulture/advantages">@SharedResource.Advantages</a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/@requestCulture/engineering">@SharedResource.ForDesigners</a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/@requestCulture/faq">@SharedResource.Faq</a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/@requestCulture/contacts">@SharedResource.Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__col">
                        <div class="company-card" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">DOO «Industrial Bio Technology»</span>
                            <div class="company-card__adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="postalCode">
                                    21000,&nbsp;
                                    <span itemprop="addressLocality">
                                        @SharedResource.Serbia,&nbsp;
                                    </span>
                                    <span itemprop="addressLocality">
                                        @SharedResource.NoviSad,&nbsp;<br>
                                    </span>
                                    <span itemprop="streetAddress">Narodnog fronta, 23C/106</span>
                                </span>
                            </div>
                            <a class="company-card__email" href="mailto:info@ibtbiotechnology.com">
                                <span itemprop="email">info@ibtbiotechnology.com</span>
                            </a>
                        </div>
                        <div class="copy">&copy; DОО «Industrial Bio Technology», @DateTime.Now.Year</div>
                    </div>
                </div>
                <div class="page-footer__row">
                    <ul class="social-links">
                        <li><a href="https://facebook.com/Industrial-Bio-Technology-1038951116311958/"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- end .page-footer-->
    </div>
    <script>
        //SVG Ajax Loading
        var ajax = new XMLHttpRequest();
        ajax.open("GET", "/images/sprite.svg", true);
        ajax.send();
        ajax.onload = function (e) {
            var block = document.createElement("div");
            block.innerHTML = ajax.responseText;
            document.body.insertBefore(block, document.body.childNodes[0]);
        };

        //SVG fix
        document.addEventListener("DOMContentLoaded", function () {
            var baseUrl = window.location.href
                .replace(window.location.hash, "");

            [].slice.call(document.querySelectorAll("use[*|href]"))

                .filter(function (element) {
                    return (element.getAttribute("xlink:href").indexOf("#") === 0);
                })

                .forEach(function (element) {
                    element.setAttribute("xlink:href", baseUrl + element.getAttribute("xlink:href"));
                });

        }, false);

        if (document.all) {
            var browsehappy = document.createElement('div');
            browsehappy.className = 'browsehappy';
            browsehappy.innerHTML = '<div class="container">Вы используете <strong>слишком устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/?locale=ru_ru">обновите версию вашего браузера</a> для более продуктивной и комфортной работы.</div>';
            document.body.appendChild(browsehappy);
        }</script>
    <link rel="stylesheet" href="/css/common.min.css">
    <style>
        body {
            font-weight: 400;
        }

        .content-wrapper {
            color: #000;
        }

            .content-wrapper a {
                color: forestgreen;
                font-weight: bold;
            }

        .page-title:after {
            width: 100% !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="/js/vendors/vendors.min.js"></script>
    <script src="/js/common.min.js"></script>
    <script>$(window).on('load', function () { $('body').removeClass('loaded') });</script>
    <script>
        $.validate({
            modules: 'html5',
            lang: "@requestCulture"
        });

        if (window.location.search.endsWith('messagesend')) {
            toastr
                .success(
                    "@SharedResource.ThankYouMessage1",
                    "@SharedResource.ThankYouMessage2",
                    {
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000"
                    })
                .css("width", "500px");
        }
    </script>
</body>
</html>