@using System.Threading
@{
    ViewData["Title"] = SharedResource.ForDesigners;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestCulture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<style>
    .catalog-section .catalog-item {
        padding: 10px;
    }

        .catalog-section .catalog-item .catalog-item__desc a {
            padding: 10px;
        }
</style>

<div class="engineering-page">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="/@requestCulture">
                    @SharedResource.MainPage
                </a>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--active">
                <span>
                    @SharedResource.ForDesigners
                </span>
            </li>
        </ul>
    </div>
    <div class="content white-text">
        <div class="container">
            <h1>
                <span class="page-title">@SharedResource.ForDesigners</span>
            </h1>
            <p>
                @Html.Raw(Engineering.AbuDescription1)
            </p>
            <p>
                @Engineering.AbuDescription2
            </p>
            <p>
                @Engineering.AbuDescription3
            </p>
            <p>
                @Engineering.AbuInstallationListTitle
            </p>
            <ul>
                <li>
                    <a class="link-fix" href="#" data-toggle="modal" data-target="#single">
                        <strong>
                            @Engineering.AbuInstallationListItem1
                        </strong>
                    </a>
                </li>
                <li>
                    <a class="link-fix" href="#" data-toggle="modal" data-target="#distributed">
                        <strong>
                            @Engineering.AbuInstallationListItem2
                        </strong>
                    </a>
                </li>
            </ul>
            <p>
                @Html.Raw(Engineering.AbuDescription4)
            </p>
            <p>
                @Html.Raw(Engineering.AbuDescription5)
            </p>

            <h2>@Engineering.AbuSchemaTitle</h2>
            <div class="scheme">
                <div class="scheme__item">
                    <p><strong>@Engineering.AbuSchemaValue1</strong></p>
                    <p>
                        @Html.Raw(Engineering.AbuSchemaValue2)
                    </p>
                </div>
                <div class="scheme__item">
                    <p><strong>@Engineering.AbuSchemaValue3</strong></p>
                    <p>
                        @Engineering.AbuSchemaValue4
                    </p>
                </div>
                <div class="scheme__item">
                    <p><strong>@Engineering.AbuSchemaValue5</strong></p>
                    <p>@Engineering.AbuSchemaValue6</p>
                </div>
            </div>
        </div>
    </div>
    <!--start .catalog-->
    <div class="catalog catalog-section">
        <h2>
            @Html.Raw(Engineering.CatalogTitle)
        </h2>
        <div class="catalog__inner">
            <div class="catalog-item">
                <div class="catalog-item__desc">
                    <h2>
                        @String.Format(SharedResource.Abu, 25)
                    </h2>
                        <a class="btn--1 catalog-item__more" href="/@requestCulture/abu/25">
                        @Engineering.AbuMoreDetails
                    </a>
                </div>
                <a class="catalog-item__img-wrap" href="/@requestCulture/abu/25">
                    <img src="/files/abu-25_thumb.jpg" alt="absorption biological unit">
                </a>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__desc">
                    <h2>
                        @String.Format(SharedResource.Abu, 10)
                    </h2>
                    <a class="btn--1 catalog-item__more" href="/@requestCulture/abu/10">@Engineering.AbuMoreDetails</a>
                </div>
                <a class="catalog-item__img-wrap" href="/@requestCulture/abu/10">
                    <img src="/files/abu-10_thumb.jpg" alt="absorption biological unit">
                </a>
            </div>
            <div class="catalog-item">
                <div class="catalog-item__desc">
                    <h2>
                        @String.Format(SharedResource.Abu, 5)
                    </h2>
                    <a class="btn--1 catalog-item__more" href="/@requestCulture/abu/5">@Engineering.AbuMoreDetails</a>
                </div>
                    <a class="catalog-item__img-wrap" href="/@requestCulture/abu/5">
                        <img src="/files/abu-5_thumb.jpg" alt="absorption biological unit">
                    </a>
            </div>
        </div>
    </div>

    <div class="content white-text">
        <div class="container">
            <p>@Html.Raw(Engineering.AbuTemperatureParameters1)</p>
            <p>@Html.Raw(Engineering.AbuTemperatureParameters2)</p>
            <p>@Html.Raw(String.Format(SharedResource.FaqLink, requestCulture))</p>
            <p>@Html.Raw(String.Format(SharedResource.EnquiriesLink, requestCulture))</p>
        </div>
    </div>
    <!--Modal Windows Start-->
    <div class="modal fade" id="single" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        @Engineering.Single
                    </h5>
                    <div>
                        <div class="close" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="close print-button" data-filname="single">
                            <i class="fas fa-print"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <img src="/files/single.jpg" alt="single configuration"/>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="distributed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        @Engineering.Distributed
                    </h5>
                    <div>
                        <div class="close" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="close print-button" data-filname="distributed">
                            <i class="fas fa-print"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <img src="/files/distributed.jpg" alt="distributed configuration"/>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="complex" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        @Html.Raw(Engineering.Complex)
                    </h5>
                    <div>
                        <div class="close" data-dismiss="modal">
                            <i class="fas fa-window-close"></i>
                        </div>
                        <div class="close print-button" data-filname="complex">
                            <i class="fas fa-print"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <img src="/files/complex.jpg" alt="complex configuration" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Windows End-->
<script>
    var buttons = document.getElementsByClassName('print-button');
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].onclick = function (el) {
            var filename = el.currentTarget.dataset.filname;
            window.open('/print.html?image=' + filename, '_blank');
        }
    }
</script>
