@using System.Threading
@{
    ViewData["Title"] = Index.IndexTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestCulture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<style>

    .efficiency-item__title {
        font-size: 24px !important;
    }
</style>
<!--start .top-->
<div class="home-page">
    <div class="top">
        <div class="top__inner">
            <div class="top__text">
                <h1>
                    @Html.Raw(Index.CompanyIntro)
                </h1>
                <div class="panel">
                    @Index.AbuIntro
                </div>
            </div>
            <div class="top__img-wrap"><img src="/files/top-img.jpg" alt=""></div>
            <div class="panel">
                @Index.AbuIntro
            </div>
        </div>
    </div>
    <!--end .top-->
    <section class="page-section efficiency">
        <header>
            <h2 class="page-section-title">
                @Index.AbuEfficiency
            </h2>
            <div class="page-section-sub-title">
                @Index.AbyEfficiencyDescription
            </div>
        </header>
        <div class="efficiency-list">
            <div class="efficiency-item">
                <div class="efficiency-item__title">
                    @Html.Raw(Index.AbuEfficiencyFormol)
                </div>
                <div class="efficiency-item__data panel">
                    <ul>
                        <li>
                            @Html.Raw(String.Format(Index.Concentration, "95%", ">20"))
                        </li>
                        <li>
                            @Html.Raw(String.Format(Index.Concentration, "85%", "10-20"))
                        </li>
                        <li>
                            @Html.Raw(String.Format(Index.Concentration, "80%", "5-10"))
                        </li>
                        <li>
                            @Html.Raw(String.Format(Index.Concentration, "70%", "4-6"))
                        </li>
                    </ul>
                </div>
            </div>
            <div class="efficiency-item">
                <div class="efficiency-item__title">
                    @Html.Raw(Index.AbuEfficiencyTriethylamine)
                </div>
                <div class="efficiency-item__data panel">
                    <ul>
                        <li>
                            <span class="efficiency-item__value">96 - 98%</span><br>
                            @Html.Raw(Index.AbuEfficiencyTriethylamineValue)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="efficiency-item">
                <div class="efficiency-item__title">
                    @Html.Raw(Index.AbuEfficiencyResin)
                </div>
                <div class="efficiency-item__data panel">
                    <ul>
                        <li>
                            @Html.Raw(String.Format(Index.AbuEfficiencyResinValue, "98%"))
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section principle">
        <div class="container">
            <h2 class="page-section-title">
                @Index.AbuOprationTitle
            </h2>
            <p>
                @Index.AbuPurificationTitle
                <ul class="marked-list">
                    <li>
                        @Index.AbuPurificationDescriptionOne
                    </li>
                    <li>
                        @Index.AbuPurificationDescriptionTwo
                    </li>
                </ul>
            </p>
        </div>
        <div class="media-section">
            <div class="media-section__inner">
                <div class="media-section__media">
                    <h3>
                        @Index.AbuOperationDescription
                    </h3>
                    <img src="/files/scheme.jpg" alt="">
                </div>
                <div class="media-section__desc">
                    <h3>
                        @Index.AbuOperationDescription
                    </h3>
                    <div class="media-section__legend">
                        <ul>
                            <li>@Index.AbuOprationValueOne</li>
                            <li>@Index.AbuOprationValueTwo</li>
                            <li>@Index.AbuOprationValueThree</li>
                            <li>@Index.AbuOprationValueFour</li>
                            <li>@Index.AbuOprationValueA</li>
                            <li>@Index.AbuOprationValueB</li>
                            <li>@Index.AbuOprationValueC</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p>@Html.Raw(Index.AbuOperationDetailsOne)</p>
            <p>@Html.Raw(Index.AbuOperationDetailsTwo)</p>
            <p>@Index.AbuOperationDetailsThree</p>
        </div>
    </section>
    <div class="white-text">
        <div class="container">
            <p>
                @Html.Raw(String.Format(SharedResource.FaqLink, requestCulture))
            </p>
            <p>
                @Html.Raw(String.Format(SharedResource.EnquiriesLink, requestCulture))
            </p>
        </div>
    </div>
</div>

